/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    /*  Colors  */
    --clr-black: 0 0% 7%;
    --clr-royalBlue: 229 98% 66%;
    --clr-white: 0 0% 100%;
    --clr-nero: 0 0% 14%;
    /*  font-size  */
    --fs-700: 3rem;
    --fs-600: 2.25rem;
    --fs-500: 1.5rem;
    --fs-400: 1.375rem;
    --fs-300: 1.25rem;
    --fs-200: 1rem;
    --fs-100: .875rem;
    /*  font-family  */
    --ff-josefinSans: 'Josefin Sans', sans-serif;
    --ff-aleo: 'Aleo', serif;
    /*  font-weight  */
    --fw-700: 700;
    --fw-400: 400;
  }
  
  /* ------------------- */
  /* Reset               */
  /* ------------------- */
  /*  Box sizing  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*  Reset Margins  */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  figure,
  picture {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-weight: 200;
  }
  
  /*  setup the body  */
  body {
    font-family: var(--ff-josefinSans);
    font-size: var(--fs-200);
    color: hsl(var(--clr-white));
    line-height: 1.6;
    min-height: 100vh;
  }
  
  /*  make images easier to work with  */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
  }

  // hr {
  //     color: hsl(var(--clr-gray));
  //     margin: 2em 0;
  // }
  
  
  
  /* ------------------- */
  /* Utility classes     */
  /* ------------------- */

  
  .container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 75rem;
  }
  
  

  
  /* ---------- Header Section ------------- */
  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    // gap: var(--gap, 0.6rem);
    justify-content: flex-start;
    // align-items: center;
    background-image: url(../img/bnr_img.png);
  }
  
  .nav {
    display: flex;
    flex-basis: 100%;
    gap: var(--gap, 0.6rem);
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    background-color: hsl(var(--clr-royalBlue));
    order: 2;

    &__logo {
      display: block;
      width: 70%;
    }

    &__list {
      display: flex;
        flex-basis: 100%;
        gap: var(--gap, 0.6rem);
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        width: 40%;
        // border: 1px solid red;
    }
    &__item {
      margin-left: 1.3em;
    display: inline-block;
    font-family: var(--ff-aleo);
    font-size: var(--fs-100);
    }

    &__link {
      color: hsl(var(--clr-white));
    }

    &__link:hover {
    color: hsl(var(--clr-nero));
    border-bottom: 2px solid hsl(var(--clr-blue));
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    &__title {
      font-family: var(--ff-josefinSans);
      font-size: var(--fs-700);
      font-weight: var(--fw-700);
      text-transform: uppercase;
    }

    &__desc {
      font-size: var(--fs-400);
      letter-spacing: .5em;
    } 

    &__search {
      height: 40px;
      margin: 2em auto;
      display: flex;
      

      input {
        width: 370px;
        padding: .8em 1em;
        // float: left;
        color: hsl(var(--clr-nero));
        background-color: hsl(var(--clr-white));
        border: 0;
        border-radius: 3px 0 0 3px;
      }

      button {
        position: relative;
        float: right;
        border: 0;
        padding: 1em 7em;
        cursor: pointer;
        height: 37px;
        width: 120px;
        color: hsl(var(--clr-white));
        border-radius: 0 3px 3px 0;
        background-color: hsl(var(--clr-royalBlue));
          &:hover {
            background: hsl(var(--clr-nero));
            color:hsl(var(--clr-white));
          }
      }  
    }
    }


        /* --------- Choose Section -------- */

        .choose {
          background-image: url(../img/choose_bg_img.png);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3em 10em;
          gap: var(--gap, 3em);

          &__content {
            width: 50%;

            &--title {
              font-size: var(--fs-600);
              font-family: var(--ff-aleo);
            }

            p {
              width: 90%;
              margin-bottom: 1.5em;
            }

            &--explore {
              background-color: hsl(var(--clr-royalBlue));
              border: 0;
              color: hsl(var(--clr-white));
              padding: 1em 5em;
            }

            &--explore:hover {
              background-color: hsl(var(--clr-nero));
            }
          }

          &__image {
            position: relative;
            width: 40%;
            
            &--first {
              position: absolute;
              width: 200px;
              height: auto;
              top: 0;
              left: 100px;
            }
            &--second {
              position: absolute;
              width: 200px;
              height: auto;
              top: -135px;
              left: 0;
            }

            
          }
        }




/* ======= Media Queries =========== */


    @media screen and (max-width: 787px) {
      .nav {
        padding: 0 2em;
        order: -1;
      }
      .banner {
        &__search {
          flex-direction: column;
          justify-content: center;
          align-items: center;

        input {
          width: 300px;
        }

        button {
          width: 150px;
        }
      }
    }
    .choose {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3em 2em;
      gap: var(--gap, 3em);

      &__content {
        width: 100%;
        text-align: center;

        &--title {
          font-size: var(--fs-600);
          font-family: var(--ff-aleo);
        }

        p {
          // width: 90%;
          margin-bottom: 1.5em;
        }

        &--explore {
          background-color: hsl(var(--clr-royalBlue));
          border: 0;
          color: hsl(var(--clr-white));
          padding: 1em 5em;
        }

        &--explore:hover {
          background-color: hsl(var(--clr-nero));
        }
      }
        
      &__image {
        position: relative;
        width: 40%;
        
      &--first {
          position: absolute;
          width: 200px;
          height: auto;
          top: 0;
          left: 100px;
        }
      &--second {
          position: absolute;
          width: 200px;
          height: auto;
          top: -135px;
          left: 0;
        }
      }
    }
    
  }



@media screen and (max-width: 480px) {
  .nav {
    padding: 0 .5em;

    order: -1;
  }

  .banner {
    &__search {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        width: 200px;
      }

      button {
        width: 70px;
      }

    }
  }

  .choose {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10em;
    gap: var(--gap, 3em);
      
    &__image {
      position: relative;
      width: 40%;
      
    &--first {
        position: absolute;
        width: 200px;
        height: auto;
        top: 0;
        left: 100px;
      }
    &--second {
        position: absolute;
        width: 200px;
        height: auto;
        top: -135px;
        left: 0;
      }
    }
  }
}
 

  
  
  

  

  
  
  
  
  
  /*# sourceMappingURL=style.css.map */
  